<!DOCTYPE html>
<html>
<head>
    <title> DB page </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1> Database Page ></h1>
<p>Welcome to our DB </p>

<table id="table" >
    <thead>
    <tr>
        <th>Username</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td><%= obj.OBJID[1] %></td>
    </tr>

    </tbody>
</table>

</body>
</html>